
<!--<table class="table table-bordered w-50">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
        </tr>
        <tr *ngIf="categories.length==0">
            <td colspan="2"> Kategori bulunamadı.</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered w-50">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
        <tr *ngIf="products.length==0">
            <td colspan="4"> Ürün bulunamadı.</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered w-50">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Id</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productRate of productRates">
            <td>{{productRate.id}}</td>
            <td>{{productRate.productId}}</td>
            <td>{{productRate.rate}}</td>
        </tr>
        <tr *ngIf="productRates.length==0">
            <td colspan="3"> Oylama bulunamadı.</td>
        </tr>
    </tbody>
</table>

<input type="text" [(ngModel)]="searchText">
<table class="table table-bordered w-50">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rate</th>
            <th>Rate Count</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let view of getProductWithRateList()">
            <td>{{view.id}}</td>
            <td>{{view.categoryId}}</td>
            <td>{{view.categoryName}}</td>
            <td>{{view.name}}</td>
            <td>{{view.price|currency:'₺':'symbol':'1.2-2'}}</td>
            <td>{{view.rate|number:'1.2-2'}}</td>
            <td>{{view.rateCount}}</td>
        </tr>
        <tr *ngIf="getProductWithRateList().length==0">
            <td colspan="3"> View bulunamadı.</td>
        </tr>
    </tbody>
</table> !-->
<app-post></app-post>