<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
</table>
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let permission of permissionList">
      <td>{{permission.id}}</td>
      <td>{{permission.name}}</td>
    </tr>
  </tbody>
</table>
<input type="text" [(ngModel)]="searchText">
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Permission Id</th>
      <th>User Full Name</th>
      <th>Permission Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userPermission of getUserPermissionListBySearch()">
      <td>{{userPermission.id}}</td>
      <td>{{userPermission.userId}}</td>
      <td>{{userPermission.permissionId}}</td>
      <td>{{userPermission.userFullName}}</td>
      <td>{{userPermission.permissionName}}</td>
    </tr>
  </tbody>
</table>